body {
  margin: 0;
  padding: 0;
}

.hero {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/images/background.jpg);
  background-size: cover;
  color: white;
  font-family: "Libre Baskerville", serif;
  font-size: 2rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-me img {
  width: 200px;
  border-radius: 50%;
}

.about-me h2 {
  font-family: "Libre Baskerville", serif;
}

.about-me p {
  font-family: "Libre Baskerville", serif;
  margin: 0px 50px;
}

.my-skills {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0px 300px;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

div h2 {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  margin-bottom: 50px;
}

.my-skills > img {
  height: 150px;
  object-fit: cover;
  justify-self: center;
}

.my-skills p {
  font-family: "Libre Baskerville", serif;
  text-align: center;
  font-size: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.contact h2 {
  font-family: "Libre Baskerville", serif;
}

.contact p {
  font-family: "Libre Baskerville", serif;
}

footer {
  background-color: cornflowerblue;
}
